{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Air Temperature</h1>
    <div class="form">
        <h1 style="text-align: center"></h1>
        <form action="/predict" method="POST">
            <label for="pt">Process Temperature[k]: </label>
            <input type="number" name="pt" id="pt" step="any"><br>
            <br>
            <label for="rs">Rotational Speed[RPM]: </label>
            <input type="number" name="rs" id="rs" step="any"><br>
            <br>
            <label for="trq">Torque[Nm]: </label>
            <input type="number" name="trq" id="trq" step="any"><br>
            <br>
            <label for="tw">Tool Wear: </label>
            <input type="number" name="tw" id="tw" step="any"><br>
            <br>
            <label for="twf">TWF: </label>
            <input type="number" name="twf" id="twf" step="any"><br>
            <br>
            <label for="hdf">HDF: </label>
            <input type="number" name="hdf" id="hdf" step="any"><br>
            <br>
            <label for="pwf">PWF: </label>
            <input type="number" select name="pwf" id="pwf" step="any"><br>
            <br>
            <label for="osf">OSF: </label>
            <input type="number" select name="osf" id="osf" step="any"><br>
            <br>
            <label for="rnf">RNF: </label>
            <input type="number" select name="rnf" id="rnf" step="any"><br>
            <br>
            <input type="submit" value="submit"><br>
        </form>
    </div>
</div>

{% endblock %}